:root {
    --primary-color: black;
    --border-color: #eaeaea;
    --news-border-color: #eaeaea;
    --highlight-color: #35a0e3;
    --footer-icon-color: grey;
    --copyright-color: grey;
    --socials-icon-color: #343434;
    --numbers-number-color: #35a0e3;
    --numbers-number-background: white;
    --link-color: #35a0e3;
    --button-color: #35a0e3;
    --background-secondary-color: #f1f8fd;
    --highlight-light-color: #f1f8fd;
    --services-boxes-color: #f1f8fd;
    --news-date-color: #ababab;
    --table-color: #f8f9fa;
    --table-header-color: #56595e;
    --section-preTitle-background-color: #fff;
    --section-preTitle-color: #575656;
    --menu-color: #484848;
    --paragraph-color: #555555;
    --background-color: #f3f1f8;
    --section2-preTitle-background2-color: white;
    --secondary-color: white;
    --foter-radius: 20px;
    --border-radius: 10px;
    --input-radius: 5px;
    --font: 'Outfit', sans-serif;
    --button-radius: 25px;
}
  