* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p, ul, ol {
  color: var(--paragraph-color);
}

input, textarea {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.owl-carousel .owl-nav button {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.header {
  background-color: #fff;
}
.header-message {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 5rem 1rem 2rem;
}
@media (max-width: 993px) {
  .header-message {
    padding: 1rem 2rem 1rem 2rem;
  }
}
.header-message-content {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  background-image: url("../img/icon-info-grey.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2.25rem;
}
.header-message-content p {
  margin-bottom: 0;
  font-size: 17px;
  color: var(--paragraph-color);
}
@media (max-width: 993px) {
  .header-message-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header-message-content {
    background-position: center top;
    padding-left: 0;
    padding-top: 2rem;
    text-align: center;
  }
}
.header-message-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
  border: 1px solid var(--border-color);
  padding: 0.25rem;
  border-radius: 50%;
  transition-duration: 0.15s;
}
.header-message-close svg, .header-message-close path {
  transition-duration: 0.15s;
  fill: var(--border-color);
}
.header-message-close:hover {
  border-color: #512bcd;
}
.header-message-close:hover svg, .header-message-close:hover path {
  fill: #512bcd;
}
@media (max-width: 993px) {
  .header-message-close {
    position: unset;
    width: fit-content;
    width: -moz-fit-content;
    transform: none;
    margin-top: 0.4rem;
  }
}
@media (max-width: 993px) {
  .header-logo {
    margin-left: 1rem;
    max-width: 50%;
  }
  .header-logo img {
    margin-right: 1rem;
  }
  .header .navbar-toggler {
    margin-right: 0.8rem;
  }
}
.header-nav {
  padding: 1.5rem 0;
}
@media (max-width: 1600px) {
  .header-nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 993px) {
  .header-nav {
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem;
  }
}
.header #nav .navbar-nav {
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .header #nav .navbar-nav {
    padding: 0 1rem;
  }
}
@media (max-width: 993px) {
  .header #nav .navbar-nav > .nav-item {
    border-top: 1px solid var(--border-color);
  }
}
.header #nav .nav-item .nav-link {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  padding: 0.75rem 1.125rem;
  text-decoration: none;
  position: relative;
}
@media (max-width: 993px) {
  .header #nav .nav-item .nav-link {
    margin-right: 0;
    padding: 0.65rem 1rem;
    font-size: 15px;
  }
}
.header #nav .nav-item .nav-link::before {
  content: "";
  width: calc(100% - 1.5rem);
  height: 3px;
  position: absolute;
  left: 0.75rem;
  right: 0.75rem;
  bottom: 0.25rem;
  background: #512bcd;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}
@media (min-width: 993px) {
  .header #nav .nav-item .nav-link:hover::before {
    transform: scale3d(1, 1, 1);
  }
}
.header #nav .nav-item.active .nav-link, .header #nav .nav-item .nav-link:hover {
  color: #512bcd;
}
@media (max-width: 768px) {
  .header #nav .nav-item {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1600px) {
  .header #nav {
    padding-left: 0rem;
    padding: 0.75rem 0;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 993px) {
  .header #nav {
    padding: 1.25rem 0 0.5rem;
  }
}
@media (max-width: 993px) {
  .header-button {
    border-top: 0 !important;
    padding-top: 1rem;
  }
}
.header-contact {
  flex-shrink: 0;
  display: flex;
}
@media (max-width: 993px) {
  .header-contact {
    padding-top: 1rem;
  }
}
.header-contact-icon {
  border: 2px solid #512bcd;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-contact-icon img, .header-contact-icon svg {
  margin-right: -0.25rem;
}
.header-contact-content {
  display: flex;
  align-items: center;
}
.header-contact span {
  font-weight: 500;
  font-size: 17px;
  color: #5f5f5f;
  margin: 0 0.35rem;
}
.header-contact a {
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.4rem;
  color: #5f5f5f;
  font-weight: 500;
  font-size: 17px;
  border-radius: 7px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.header-contact a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #512bcd;
  text-decoration: none;
}
.header-contact a:hover svg path {
  fill: var(--background-color);
}
.header-contact a svg {
  margin-right: 0.5rem;
}
.header-contact a svg path {
  fill: #512bcd;
}
.header .navbar-toggler {
  padding-right: 0;
  padding-top: 0;
  margin-top: -0.25rem;
}
.header .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.header .animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: #512bcd;
}
.header .animated-icon span:nth-child(1) {
  top: 0px;
}
.header .animated-icon span:nth-child(2) {
  top: 10px;
}
.header .animated-icon span:nth-child(3) {
  top: 20px;
}
.header .animated-icon.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}
.header .animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .animated-icon.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.button-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 2px solid #512bcd;
  color: #fff;
  background-color: #512bcd;
  font-size: 18px;
  font-weight: 500;
  transition: 0.25s;
  padding: 0.7rem 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
}
.button-purple svg {
  margin-left: 1rem;
}
.button-purple svg path {
  fill: #fff;
}
.button-purple:hover {
  background-color: transparent;
  color: #512bcd;
  text-decoration: none;
}
.button-purple:hover svg, .button-purple:hover path {
  fill: #512bcd !important;
}
.button-purple.button-icon-left svg {
  margin-left: 0;
  margin-right: 1rem;
}

.button-purple.arrow {
  background-image: url("../img/arrow-right-white.png");
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  padding: 0.85rem 3.25rem 0.85rem 1.75rem;
}

.button-purple.arrow:hover {
  background-image: url("../img/arrow-right-purple.png");
}

.button-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 2px solid #ff7000;
  color: #fff;
  background-color: #ff7000;
  font-size: 16px;
  font-weight: 500;
  transition: 0.25s;
  padding: 0.7rem 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
}
.button-orange svg {
  margin-left: 1rem;
}
.button-orange svg path {
  fill: #fff;
}
.button-orange:hover {
  background-color: #fff;
  color: #ff7000;
  text-decoration: none;
  box-shadow: inset 10em 0 0 0 #fff;
}
.button-orange:hover svg, .button-orange:hover path {
  fill: #ff7000 !important;
}

.button-orange.arrow {
  background-image: url("../img/arrow-right-white.png");
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  padding: 0.85rem 3.25rem 0.85rem 1.75rem;
}

.button-orange.arrow:hover {
  background-image: url("../img/arrow-right-orange.png");
}

.banner {
  background-color: #f3f1f8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.5rem 0 11.5rem;
  margin-bottom: 5rem;
}
@media (max-width: 993px) {
  .banner {
    padding: 6rem 0 6rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 4rem 0 4rem;
  }
  .banner a {
    margin-left: auto;
    margin-right: auto;
  }
}
.banner-text {
  padding-top: 3rem;
}
@media (max-width: 993px) {
  .banner-text {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .banner-text {
    text-align: center;
  }
}
.banner-text h1 {
  font-size: 62px;
  line-height: 68px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .banner-text h1 {
    font-size: 52px;
    margin-bottom: 2rem;
    line-height: 60px;
  }
}
.banner-text h1 span {
  color: #512bcd;
}
.banner-text p {
  font-size: 21px;
  line-height: 33px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4.5rem;
}
@media (max-width: 993px) {
  .banner-text p {
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .banner-text p {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 2rem;
  }
}
.banner-image {
  position: relative;
}
.banner-image img {
  position: absolute;
  top: 0;
  left: 0;
}

.banner-subpage {
  background-image: var(--header-background);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0 4rem;
}
.banner-subpage h1 {
  color: var(--secondary-color);
  font-size: 60px;
  margin-bottom: 2rem;
}
@media (max-width: 993px) {
  .banner-subpage h1 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 576px) {
  .banner-subpage h1 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media (max-width: 993px) {
  .banner-subpage {
    padding: 5rem 0;
  }
}
@media (max-width: 576px) {
  .banner-subpage {
    padding: 3rem 0;
  }
}
@media (max-width: 768px) {
  .banner-subpage {
    text-align: center;
  }
}

.section {
  padding: 8rem 0 8rem;
}
@media (max-width: 768px) {
  .section {
    padding: 3rem 0 3rem;
  }
}
.section-secondary {
  background-color: var(--background-secondary-color);
}
.section-header {
  margin-bottom: 5rem;
}
.section-header-center > div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 993px) {
  .section-header {
    margin-bottom: 3.75rem;
  }
}
@media (max-width: 768px) {
  .section-header {
    margin-bottom: 2.25rem;
  }
}
@media (max-width: 768px) {
  .section-title {
    width: 100%;
  }
}
.section-title-center {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.section-title-description {
  max-width: 775px;
}
.section-title-description p {
  font-weight: 500;
  color: #000000;
  font-size: 19px;
  line-height: 33px;
}
.section-title h3, .section-title h2 {
  font-size: 50px;
  letter-spacing: -0.025rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.section-title h3 span, .section-title h2 span {
  font-weight: 700;
  color: #512bcd;
}
@media (max-width: 768px) {
  .section-title h3, .section-title h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.75rem !important;
  }
}
@media (max-width: 768px) {
  .section-custom-content {
    text-align: center;
  }
}
.section-custom-content p {
  color: #5f5f5f;
  font-size: 18px;
  line-height: 33px;
  font-weight: 500;
}
.section-footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 993px) {
  .section-footer {
    margin-top: 2.5rem;
  }
}
@media (max-width: 768px) {
  .section-footer {
    margin-top: 2rem;
  }
}

@media (max-width: 993px) {
  .about-content {
    margin-top: 2.25rem;
  }
}
.about-icons {
  margin-top: 3.5rem;
  margin-bottom: -1.75rem;
}
@media (max-width: 1200px) {
  .about-icons {
    margin-top: 2.25rem;
  }
}
.about-icons h3 {
  font-size: 24px;
  color: #000000;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .about-icons h3 {
    text-align: center;
  }
}
.about-icons-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
}
@media (max-width: 576px) {
  .about-icons-box {
    flex-direction: column;
    justify-content: center;
  }
}
.about-icons-description {
  font-weight: 600;
  color: #000000;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 0;
}
.about-icons-image {
  width: 50px;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .about-icons-image {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 576px) {
  .about-icons-image {
    margin-right: 0;
  }
}
.about-icons-image svg, .about-icons-image img {
  max-width: 50px;
  max-height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}
.about-image img {
  border-radius: 0 50px 0 50px;
}
.about-footer {
  margin-top: 5rem;
}
@media (max-width: 1200px) {
  .about-footer {
    margin-top: 2.25rem;
  }
}
@media (max-width: 768px) {
  .about-footer a {
    margin-left: auto;
    margin-right: auto;
  }
}

.references {
  background-image: url("../img/section-references-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .references {
    background-position: center;
  }
}
.references-content {
  margin-bottom: -1.4rem;
}
.references-section {
  padding-top: 6.5rem;
}
.references-section .row > div {
  margin-bottom: 1.4rem;
}
.references-box {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  height: 100%;
}
.references-image {
  background-color: #ece9f1;
  padding: 1.6rem 1.6rem 0 1.6rem;
  border-radius: 10px 10px 0 0;
}
.references-image img {
  margin: 0 auto;
  display: block;
  max-height: 400px;
}
.references-description {
  padding: 2rem 1.6rem;
  filter: drop-shadow(0.367px -20.997px 31px rgba(75, 52, 153, 0.04));
}
@media (max-width: 768px) {
  .references-description {
    text-align: center;
  }
}
.references-description a {
  margin-bottom: 0;
  color: #000000;
  font-size: 17px;
  transition-duration: 0.15s;
}
.references-description a:hover {
  color: #ff7000;
  text-decoration: none;
}

.numbers {
  background-color: #fff;
  filter: drop-shadow(-6.772px 38.408px 34px rgba(75, 52, 153, 0.11));
  border-radius: 30px;
  position: relative;
  top: -2.5rem;
  padding: 3.5rem 3.5rem 5rem;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: -1.4rem;
}
@media (max-width: 768px) {
  .numbers {
    padding: 3rem 2rem 3rem;
    position: unset;
  }
}
.numbers h2 {
  padding-top: 4.5rem;
}
.numbers .section-header {
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .numbers .section-header {
    margin-bottom: 3rem;
  }
}
.numbers .section-content {
  margin-bottom: -2rem;
}
.numbers-box {
  margin-bottom: 2rem;
}
.numbers-number {
  background-image: url("../img/section-numbers-item-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 160px;
  aspect-ratio: 1/1;
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.numbers-number span {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
}
.numbers-text p {
  font-size: 21px;
  line-height: 28px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .reviews-left {
    margin-bottom: 4.5rem;
    text-align: center;
  }
}
.reviews-left p {
  font-size: 19px;
  line-height: 29px;
  color: #000000;
}
.reviews-nav {
  display: flex;
  margin-top: 2.25rem;
}
@media (max-width: 768px) {
  .reviews-nav {
    margin-top: 1.5rem;
    justify-content: center;
  }
}
.reviews-nav-prev {
  transform: rotate(180deg);
  margin-right: 0.5rem;
}
.reviews-nav img {
  transition-duration: 0.15s;
  cursor: pointer;
}
.reviews-nav img:hover {
  filter: brightness(0);
}
.reviews-box {
  filter: drop-shadow(0 0 9px rgba(75, 52, 153, 0.07));
  margin: 2.25rem 1rem 1rem;
  background-color: #fff;
  padding: 4rem 2.5rem 2.5rem;
  position: relative;
}
.reviews-author {
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}
.reviews-author-position {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}
.reviews-text {
  margin-bottom: 2rem;
}
.reviews-text p {
  font-style: italic;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 0;
}
.reviews .owl-reviews {
  margin-top: -2.25rem;
}
.reviews-icon {
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f1f8;
  border-radius: 50%;
}

.footer {
  border-top: 1px solid #e0dbed;
  background-color: #fff;
  padding: 5rem 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .footer-logo {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
  }
}
.footer-logo img {
  max-height: 150px;
}
.footer-address p, .footer-address a {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #000000;
}
.footer-address a {
  font-weight: 700;
}
@media (max-width: 768px) {
  .footer-address {
    margin-bottom: 2rem;
  }
}
.footer-address-pin {
  background-image: url("../img/icon-footer-pin.png");
  background-repeat: no-repeat;
  background-position: top 2px left 2px;
  padding-left: 2rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 768px) {
  .footer-address-pin {
    background-position: top center;
    padding-left: 0;
    padding-top: 2.25rem;
    margin-bottom: 1.5rem;
  }
}
.footer-address-mail {
  background-image: url("../img/icon-footer-mail.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}
.footer-address-mail a {
  color: #512bcd;
}
@media (max-width: 768px) {
  .footer-address-mail {
    background-position: top center;
    padding-left: 0;
    padding-top: 1.75rem;
    margin-bottom: 1.5rem;
  }
}
.footer-address-tel {
  background-image: url("../img/icon-footer-tel.png");
  background-repeat: no-repeat;
  background-position: center left 3px;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .footer-address-tel {
    background-position: top center;
    padding-left: 0;
    padding-top: 2.25rem;
  }
}
@media (max-width: 1200px) {
  .footer-newsletter {
    margin-top: 2.5rem;
  }
}
.footer-newsletter h3 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 1.25rem;
  font-weight: 700;
  color: #000000;
}
@media (max-width: 768px) {
  .footer-newsletter h3 {
    margin-bottom: 0.5rem;
  }
}
.footer-socials {
  margin-bottom: -0.5rem;
}
.footer-socials h3 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #000000;
}
.footer-socials a {
  border: 1px solid var(--socials-icon-color);
  background-color: var(--socials-icon-color);
  width: 45px;
  height: 45px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  transition: 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials a:not(:last-of-type) {
  margin-right: 0.5rem;
}
.footer-socials a:hover {
  box-shadow: 0px 0px 14px -3px #512bcd;
}
@media (max-width: 1200px) {
  .footer-menu {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .footer-menu {
    margin-bottom: 2rem;
  }
}
.footer-menu a {
  font-size: 18px;
  color: #000000;
  line-height: 28px;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: 700;
}
.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 1200px) {
  .footer-menu ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-menu ul li:not(:last-child) {
    margin-right: 1.5rem;
  }
}
@media (max-width: 768px) {
  .footer-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-menu ul li {
    margin-right: 0 !important;
  }
}

.copyright {
  border-top: 1px solid #e0dbed;
  padding: 2.5rem 0;
  margin-top: 6rem;
  color: #8a8a8a;
}
.copyright p {
  color: #8a8a8a;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.copyright p a {
  color: #8a8a8a !important;
}
@media (max-width: 1200px) {
  .copyright {
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .copyright {
    margin-top: 2.5rem;
  }
}

.form-custom input[type=text] {
  border: 1px solid #e0dbed;
  border-radius: 7px;
  color: #5f5f5f;
  font-size: 16px;
  line-height: 33px;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  width: 100%;
  height: 60px;
  transition-duration: 0.15s;
}
.form-custom input[type=text]:focus {
  border-color: #512bcd;
}
@media (max-width: 576px) {
  .form-custom input[type=text] {
    font-size: 16px;
  }
}
.form-custom input[type=submit] {
  font-size: 17px;
}
@media (max-width: 576px) {
  .form-custom input[type=submit] {
    font-size: 16px;
  }
}

.footer-newsletter-form {
  display: flex;
}
.footer-newsletter-form input[type=text] {
  margin-right: 0.5rem;
}
@media (max-width: 576px) {
  .footer-newsletter-form input[type=submit] {
    padding: 0.7rem 0.7rem;
  }
}

::-moz-selection {
  color: #fff;
  background: #512bcd;
}

::selection {
  color: #fff;
  background: #512bcd;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1600px) {
  .header .container {
    max-width: 1550px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1900px) {
  .header .container {
    max-width: 1700px;
    padding-left: 15px;
    padding-right: 15px;
  }
}/*# sourceMappingURL=main.css.map */