// Defaults
@import "defaults/variables.scss";
@import "defaults/resets.scss";
@import "defaults/functions.scss";

// Components
@import "components/header.scss";
@import "components/buttons.scss";
@import "components/banners.scss";
@import "components/sections.scss";
@import "components/about.scss";
@import "components/references.scss";
@import "components/numbers.scss";
@import "components/reviews.scss";
@import "components/footer.scss";
@import "components/form.scss";

// Style 
::selection {
    color: $secondary-color;
    background: $highlight-color; 
}
@media (min-width: map-get($breaks, "xxl")) {
    .container {
        max-width: 1430px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1600px) {
    .header .container {
        max-width: 1550px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1900px) {
    .header .container {
        max-width: 1700px;
        padding-left: 15px;
        padding-right: 15px;
    }
}