.banner {
    background-color: #f3f1f8;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.5rem 0 11.5rem;
    margin-bottom: 5rem;
    @include media("lg") {
        padding: 6rem 0 6rem;
        margin-bottom: 0rem;
    }
    @include media("md") {
        padding: 4rem 0 4rem;
        a {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-text {
        padding-top: 3rem;
        @include media("lg") {
            padding-top: 0;
        }
        @include media("md") {
            text-align: center;
        }
        h1 {
            font-size: 62px;
            line-height: 68px;
            font-weight: 600;
            color: $primary-color;
            margin-bottom: 3rem;
            @include media("md") {
                font-size: 52px;
                margin-bottom: 2rem;
                line-height: 60px;
            }
            span {
                color: $highlight-color;
            }
        }
        p {
            font-size: 21px;
            line-height: 33px;
            font-weight: 600;
            color: $primary-color;
            margin-bottom: 4.5rem;
            @include media("lg") {
                margin-bottom: 3rem;
            }
            @include media("md") {
                font-size: 19px;
                line-height: 29px;
                margin-bottom: 2rem;
            }
        }
    }
    &-image {
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.banner-subpage {
    background-image: var(--header-background);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 0 4rem;
    h1 {
        color: var(--secondary-color);
        font-size: 60px;
        margin-bottom: 2rem;
        @include media("lg") {
            margin-bottom: 0rem;
        }
        @include media("sm") {
            font-size: 45px;
            line-height: 50px;
        }
    }
    @include media("lg") {
        padding: 5rem 0;
    }
    @include media("sm") {
        padding: 3rem 0;
    }
    @include media("md") {
        text-align: center;
    }
}