.footer {
    background-color: $secondary-color;
    padding: 5rem 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    @include media("md") {
        text-align: center;
    }
    &-logo {
        display: block;
        margin-bottom: 3rem;
        @include media("md") {
            margin-bottom: 2.5rem;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            width: -moz-fit-content;
        }
        img {
            max-height: 150px;
        }
    }
    &-address {
        p, a {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: $primary-color;
        }
        a {
            font-weight: 700;
        }
        @include media("md") {
            margin-bottom: 2rem;
        }
        &-pin {
            background-image: url("../img/icon-footer-pin.png");
            background-repeat: no-repeat;
            background-position: top 2px left 2px;
            padding-left: 2rem;
            margin-bottom: 1.25rem;
            @include media("md") {
                background-position: top center;
                padding-left: 0;
                padding-top: 2.25rem;
                margin-bottom: 1.5rem;
            }
        }
        &-mail {
            background-image: url("../img/icon-footer-mail.png");
            background-repeat: no-repeat;
            background-position: center left;
            padding-left: 2rem;
            margin-bottom: .5rem;
            a {
                color: $highlight-color;
            }
            @include media("md") {
                background-position: top center;
                padding-left: 0;
                padding-top: 1.75rem;
                margin-bottom: 1.5rem;
            }
        }
        &-tel {
            background-image: url("../img/icon-footer-tel.png");
            background-repeat: no-repeat;
            background-position: center left 3px;
            padding-left: 2rem;
            @include media("md") {
                background-position: top center;
                padding-left: 0;
                padding-top: 2.25rem;
            }
        }
    }
    &-newsletter {
        @include media("xl") {
            margin-top: 2.5rem;
        }
        h3 {
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 1.25rem;
            font-weight: 700;
            color: $primary-color;
            @include media("md") {
                margin-bottom: .5rem;
            }
        }
    }
    &-socials {
        margin-bottom: -0.5rem;
        h3 {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 1.5rem;
            font-weight: 700;
            color: $primary-color;
        }
        a {
            border: 1px solid var(--socials-icon-color);
            background-color: var(--socials-icon-color);
            width: 45px;
            height: 45px;
            margin-bottom: .5rem;
            border-radius: 50%;
            transition: 0.15s;
            @include flexCenter();
            &:not(:last-of-type) {
                margin-right: .5rem;
            }
            &:hover {
                box-shadow: 0px 0px 14px -3px $highlight-color;
            }
        }
    }
    &-menu {
        @include media("xl") {
            margin-bottom: 2.5rem;
        }
        @include media("md") {
            margin-bottom: 2rem;
        }
        a {
            font-size: 18px;
            color: $primary-color;
            line-height: 28px;
            margin-bottom: .5rem;
            display: inline-block;
            font-weight: 700;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            @include media("xl") {
                display: flex;
                flex-wrap: wrap;
                li:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
            @include media("md") {
                li {
                    margin-right: 0 !important;
                }
                @include flexCenterDir(column);
            }
        }
    }
}
.copyright {
    border-top: 1px solid $border-color;
    padding: 2.5rem 0;
    margin-top: 6rem;
    color: $copyright-color;
    p {
        color: $copyright-color;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
        a {
            color: $copyright-color !important;
        }
    }
    @include media("xl") {
        margin-top: 3rem;
    }
    @include media("md") {
        margin-top: 2.5rem;
    }
}