.form-custom {
    input:not([type="submit"]), select, textarea {
        border: 1px solid $border-color;
        border-radius: 7px;
        color: $tertiary-color;
        font-size: 16px;
        line-height: 33px;
        font-weight: 500;
        padding: .5rem 1.5rem;
        width: 100%;
        &:not(textarea) {
            height: 60px;
        }
        transition-duration: 0.15s;
        &:focus, &:active {
            border-color: $highlight-color;
        }
        @include media("sm") {
            font-size: 16px;
        }
    }
    textarea {
        resize: none;
    }
    select {
        outline: none !important;
    }
    input[type="submit"] {
        font-size: 17px;
        @include media("sm") {
            font-size: 16px;
        }
    }
}
.form-contact {
    .form-custom {
        background-color: $secondary-color;
        border-radius: $button-radius;
        box-shadow: 0.367px -20.997px 53.32px 8.68px rgba(75, 52, 153, 0.04);    
        padding: 3.5rem 3rem 2.5rem;
        @include media("sm") {
            padding: 2.5rem 2rem 1.5rem;
        }
    }
    &-title {
        margin-bottom: 4.5rem;
        @include media("md") {
            margin-bottom: 2rem;
        }
    }
    &-inputbox {
        position: relative;
        padding-bottom: 1rem;
        label {
            position: absolute;
            top: .45rem;
            left: .65rem;
            color: $label-color;
            font-size: 15px;
            font-weight: 500;
            z-index: 1;
        }
        input:not([type="submit"]), select {
            height: 70px !important;
        }
        input:not([type="submit"]), textarea, select {
            padding: 1.75rem 1.5rem .5rem .65rem;
        }
        &-select {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 3.625rem;
                top: 1px;
                bottom: 1px;
                background-color: $border-color;
                height: calc(100% - 2px);
                width: 1px;
            }
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url("../img/arrow-dropdown-purple.png");
                background-repeat: no-repeat;
                background-position: right 1.5rem center;
            }
        }
        textarea {
            height: 100%;
            min-height: 300px;
        }
    }
    &-button {
        margin-top: 3rem;
        button {
            padding: 0.7rem 3rem;
        }
    }
}
.footer-newsletter-form {
    display: flex;
    input[type="text"] {
        margin-right: .5rem;
    }
    @include media("sm") {
        input[type="submit"] {
            padding: 0.7rem 0.7rem;
        }
    }
}