.references {
    background-image: url("../img/section-references-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include media("md") {
        background-position: center;
    }
    &-content {
        margin-bottom: -1.4rem;
    }
    &-section {
        padding-top: 6.5rem;
    }
    &-box {
        background-color: $secondary-color;
        border-radius: 10px;
        height: calc(100% - 1.4rem);
        margin-bottom: 1.4rem;
    }
    &-image {
        background-color: #ece9f1;
        padding: 1.6rem 1.6rem 0 1.6rem;
        border-radius: 10px 10px 0 0;
        img {
            margin: 0 auto;
            display: block;
            max-height: 400px;
        }
    }
    &-description {
        padding: 2rem 1.6rem;
        filter: drop-shadow(0.367px -20.997px 31px rgba(75,52,153,0.04));
        @include media("md") {
            text-align: center;
        }
        a {
            margin-bottom: 0;
            color: $primary-color;
            font-size: 17px;
            transition-duration: 0.15s;
            &:hover {
                color: $highlight-color2;
                text-decoration: none;
            }
        }
    }
    &-more {
        margin-top: 6rem;
        @include media("md") {
            margin-top: 3rem;
        }
    }
}