.section {
    padding: 8rem 0 8rem;
    @include media("md") {
        padding: 0 0 0;
    }
    &-secondary {
        background-color: var(--background-secondary-color);
    }
    &-header {
        &-center > div {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        margin-bottom: 5rem;
    }
    &-title {
        @include media("md") {
            width: 100%;
        }
        &-center {
            text-align: center !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        &-description {
            max-width: 775px;
            p {
                font-weight: 500;
                color: $primary-color;
                font-size: 19px;
                line-height: 33px;
            } 
        } 
    }
    &-title h3, &-title h2 {
        font-size: 50px;
        letter-spacing: -0.025rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        span {
            font-weight: 700;
            color: $highlight-color;
        }
        @include media("md") {
            text-align: center;
            margin-bottom: 1.75rem !important;
        }
    }
    &-custom-content {
        p {
            color: $tertiary-color;
            font-size: 18px;
            line-height: 33px;
            font-weight: 500;
        }
    }
    &-footer {
        margin-top: 5rem;
        @include flexCenter();
        @include media("lg") {
            margin-top: 2.5rem;
        }
        @include media("md") {
            margin-top: 2rem;
        }
    }
}