$primary-color: #000000;
$secondary-color: #fff;
$tertiary-color: #5f5f5f;

$copyright-color: #8a8a8a;

$highlight-color: #512bcd;
$highlight-color2: #ff7000;

$border-color: #e0dbed;

$button-radius: 7px;

$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 993px,
    "xl": 1200px,
    "xxl": 1600px,
);
